body{
background-image: url(https://j.top4top.io/p_3298ux21x1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 100%;
}
.title{
text-align: center;
font-size: 2.5em;
color: #000;
}
.video-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 300px;
}
video {
object-fit: cover; /* Agar video menyesuaikan ukuran kotak dan tidak terpotong */
}  
.space{
height: 300px;
}            
.container {
text-align: center;
}
.box {
display: inline-block;
width: 400px;
height: 700px;
background-image: url(https://c.top4top.io/p_3298mqfk20.png);
margin: 20px;
border: 1px solid black;
border-radius: 50px;
}


