body{
background-image: url(https://j.top4top.io/p_3298ux21x1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 100%;
}
.title{
text-align: center;
font-size: 2.5em;
color: #000;
}
.video-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 300px;
}
video {
object-fit: cover; /* Agar video menyesuaikan ukuran kotak dan tidak terpotong */
}  
.space{
height: 300px;
}            
.container {
text-align: center;
}
.box {
display: inline-block;
width: 400px;
height: 700px;
background-image: url(https://c.top4top.io/p_3298mqfk20.png);
margin: 20px;
border: 1px solid black;
border-radius: 50px;
}
.cok {
  background-image: url(https://j.top4top.io/p_3298nvp0j0.png);
  font-size: 40px;
  color: black;
  border-radius: 100px 100px 0 0;
  object-fit: cover;
  text-align: center;
}
.fter {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
.h2{
font-size: 30px;
color : white;
}
.h1{
font-size: 70px;
color : white;
}
.p2{
font-size: 25px;
color: white;
}
.p{
font-size: 40px;
}
.putih {
color : white;
text-dexoration: none;
text-align: center;
}
.bulat{
width: 200px;
height: 200px;
        }
.si{
height: 150px;
}
.mulog {
width: 520px;
height:  430px;
top: 530px;
left: 40px;
border: 1px solid black;
background-color: red;
background-size: cover;
background-position: center;
position : relative;
border-radius: 50px;
padding: 20px;
font-size: 20px;
text-align: left;
color: white;
}
      
.muncul {
object-fit: cover; 
width: 630px;
height:  1100px;
top: 700px;
background-image: url(https://i.ibb.co.com/9hrnyNp/Photoroom-20250112-143920.png);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wc {
  width: 80px;
  height: 80px;
  top: 1045px;
  left: 50%;
  position: fixed;
  font-size: 40px;
  transform: translate(-50%, -50%);
  border: 6px solid black;
  border-radius: 50%;
  background-color: white;
}
button {
  background-color: transparent;
  border: none;
}
.monyet {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: green;
    position: fixed;
    bottom: 130px;
    right: 50px;
    color: white;
    border: 8px solid white;
    font-size: 30px;
}
