.cok {
  background-image: url(https://j.top4top.io/p_3298nvp0j0.png);
  font-size: 40px;
  color: black;
  border-radius: 100px 100px 0 0;
  object-fit: cover;
  text-align: center;
}
.fter {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
.h2{
font-size: 30px;
color : white;
}
.h1{
font-size: 70px;
color : white;
}